#submit {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #b16f7f;

  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  position: absolute;
  top: 10%;
  left: 80%;
  height: 30px;
  transform: translate(-50%, -50%);
}
#myInput {
  position: absolute;
  width: 70%;
  top: 10%;
  height: 30px;
  left: 40%;
  transform: translate(-50%, -50%);
}
#centering {
  position: relative;
  padding-top: 50px;
}
body {
  background-color: black;
  padding-top: 20px;
}

h1 {
  color: aliceblue;
}
